---
version: 1

disable_existing_loggers: False

formatters:
    simple:
        format: "%(asctime)s - %(name)s - %(levelname)s - %(message)s"

handlers:
    console:
        class: logging.StreamHandler
        level: DEBUG
        formatter: simple
        stream: ext://sys.stdout

    file_handler:
        class: logging.handlers.RotatingFileHandler
        # Log level can be changed on runtime to CRITICAL, ERROR, WARNING,
        # INFO, DEBUG, depending on how much details the user wants.
        # https://docs.python.org/2/library/logging.html#levels
        level: DEBUG
        formatter: simple
        filename: siswrap.log
        maxBytes: 10485760  # 10MB
        backupCount: 20
        encoding: utf8

root:
    level: DEBUG
    handlers: [console, file_handler]
